<div class="card h-100">
    <img src="{{plan.image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{plan.planname}}</h5>
        <p class="card-text">{{plan.date.cuisineType}}</p>
        <div class="mb-3">
            {{#each plan.cuisineTypes as |cuisineType|}}
            <span class="badge text-bg-secondary me-2">{{cuisineType}}</span>
            {{/each}}
        </div>
        <p class="card-text">{{plan.date}}</p>
        <p><strong>Participantes:</strong>
            {{#if plan.currentParticipants}}
            {{plan.currentParticipants}}/{{plan.maxParticipants}}
            {{else}}
            0/{{plan.maxParticipants}}
            {{/if}}
        </p>
        <a class="btn btn-outline-primary btn-custom" href="/plans/{{plan._id}}">Ver más detalles</a>
    </div>
</div>